<h2>Celebrities</h2>
{{#each allCelebritiesFromDB}}
  <p><a href="/celebrities/{{this.id}}">{{this.name}}</a></p>
{{/each}}

<a href="/celebrities">Home</a>
<a href="celebrities/new">Add New Celeb</a>