<h2></h2>
<form action="/celebrities" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="occupation" name="occupation">
  <input type="text" placeholder="catchPhrase" name="catchPhrase">
  <button type="submit"></button>
</form>